<section class="container">
  <% @traveltickets.each do |travelticket| %>
  <article>
    <ul>
      <li>
        <strong>Origin:</strong>
        <%= travelticket.origin %>
      </li>
      <li>
        <strong>Destination:</strong>
        <%= travelticket.destination %>
      </li>
      <li>
        <strong>Transportation Type:</strong>
        <%= travelticket.type %>
      </li>
      <li>
        <strong>Departure:</strong>
        <%= travelticket.departure %>
      </li>
      <li>
        <strong>Place:</strong>
        <%= travelticket.place %>
      </li>
    </ul>
  </article>
  <aside>
    <%= link_to 'Edit travelticket', edit_travelticket_path(travelticket) %> 
    <%= link_to 'Back to my city', city_path(@city) %>
    <%= link_to 'Delete travelticket', travelticket, method: :delete, data: { confirm: 'Are you sure?' } %>
  </aside>
  <% end %>
</section>
<%= link_to 'New travelticket', new_city_travelticket_path %> 