<div class="well well-sm">
    <div class="row">
        <div class="col-xs-2 col-md-2 text-center">
            <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                class="img-rounded img-responsive" />
        </div>
        <div class="col-xs-9 col-md-9 section-box">
            <h2 class="city-name"><%= city.name %></h2>
            
            <strong>Arrival Date: </strong><p><%= city.arrival %></p>
            <strong>Departure Date: </strong><p><%= city.departure %></p>
            <strong>Comment:</strong><p><%= city.comment %></p>
            <hr />
        </div>
        <div class="col-xs-1 col-md-1 section-box btn-group text-center">
            <%= link_to ' ', city_path(city.id) , class: "btn btn-primary glyphicon glyphicon-plus small"%></p>
        </div>
    </div>
</div>