<%- if controller_name != 'sessions' %>
  <ul class="nav navbar-nav">
    <div class="btn btn-group"> 
      <li><%= link_to "Sign in", new_session_path(resource_name),
         class: "btn btn-info" %><br /></li>
    </div>
  </ul>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
 <!-- <ul class="nav navbar-nav">
    <div class="btn btn-group">
      <li>-->
<!--       <%= link_to "Sign up", new_registration_path(resource_name),
         class: "btn btn-info" %> -->
         <!--<br /></li>
    </div>
  </ul>-->
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <ul class="nav navbar-nav">
    <div class="btn btn-group">
      <li><%= link_to "Forgot your password?", new_password_path(resource_name)%><br /></li>
    </div>
  </ul>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <ul class="nav navbar-nav">
    <div class="btn btn-group">
      <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "btn btn-info" %><br />
      </li>
    </div>
  </ul>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <ul class="nav navbar-nav">
    <div class="btn btn-group">
      <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name),
         class: "btn btn-info"%><br /></li>
    </div>
  </ul>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- User.omniauth_providers.each do |provider| %>
    <ul class="nav navbar-nav">
      <div class="btn btn-group">
        <li><%= link_to " Login", omniauth_authorize_path(resource_name, provider) ,
         class: "btn btn-info fa fa-facebook-square"%><br /></li>
      </div>
    </ul>
  <% end -%>
<% end -%>