<section class="row">
  <div class="well">
    <div class="container margin-top">
      <div class="col-md-3">
        <img src="http://s30.postimg.org/gs1mmn2oh/lanight.jpg"
          class="img-rounded img-responsive" />
      </div>
        
      <div class="col-md-7">
        <h3><%= @city.name %></h3>
        <h6><strong>Arrival: </strong><%= @city.arrival %></h6>
        <h6><strong>Departure: </strong><%= @city.departure %></h6>
        <h6><strong>Comment: </strong><%= @city.comment %></h6>
      </div>
            
      <div class="col-md-2">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">Action<span class="icon-cog icon-white"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit city', edit_city_path(@city), class: "fa fa-edit"%></li>
            <li><%= link_to 'Delete', edit_city_path(@city), class: "fa fa-trash-o"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <article class="margin-bottom margin-top">
    <div class="container">
      <div class="col-md-8">
        <%= render partial: "city_map", locals: {city: @city, hash: @hash } %>
      </div>

      <div class="col-md-4 btn-group margin-bottom">
        <%= link_to ' Add Place', new_city_place_path(@city), class: "fa fa-plus btn btn-info"%>
      </div>

      <div class="col-md-4 places-display">
        <h4>My Favourite Places</h4>
        <hr>
        <%= render partial: 'places_show', collection: @city.places, as: :place, locals: { city: @city} %>
      </div>
    </div>
  </article>

  <article class="container row-middle margin-bottom">
    <div class="col-md-8 col-md-offset-1">
      <h3>My travel tickets <i class="fa fa-plane"></i></h3>
      </div>
    <%= render partial: 'traveltickets_show', locals: {traveltickets: @traveltickets} %>
  </article>
  <%= render partial: 'footer'%>

</section>

