<section class="row">
  <div class="row well">
    <div class="container margin-top">
      <div class="col-md-3">
        <img src="http://s30.postimg.org/gs1mmn2oh/lanight.jpg"
          class="img-rounded img-responsive" />
      </div>
        
      <div class="col-md-7">
        <h3><%= @city.name %></h3>
        <h6><strong>Arrival: </strong><%= @city.arrival %></h6>
        <h6><strong>Departure: </strong><%= @city.departure %></h6>
        <h6><strong>Comment: </strong><%= @city.comment %></h6>
      </div>
            
      <div class="col-md-2">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">Action<span class="icon-cog icon-white"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit city', edit_city_path(@city), class: "fa fa-edit"%></li>
            <li><%= link_to 'Delete', edit_city_path(@city), class: "fa fa-trash-o"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <article class="row margin-bottom margin-top">
    <div class="container">
      <div class="row">
        <%= render partial: "city_map", locals: {city: @city, hash: @hash} %>
      </div>

        <div class="col-md-6 col-xs-6">
          <div class="col-md-6 col-xs-6">
            <h2><span class="fa fa-home fa-lg"></span> Hotel </h2>
            <address>
              <strong>Sunset Marquis</strong><br>
              1200 Alta Loma Rd Los Alamos,<br>
              West Hollywood RD Sunset,<br> 
              CA 90069 Estados Unidos<br>
              <abbr title="Phone">P:</abbr> 01234 567 890
            </address>
          </div>

          <div class="col-md-6 col-xs-6">
                <table class="table-condensed table-bordered table-striped">
                  <thead>
                  <tr>
                    <th colspan="7">
                      <span class="btn-group">
                          <a class="btn"><i class="icon-chevron-left"></i></a>
                        <a class="btn active">February 2012</a>
                        <a class="btn"><i class="icon-chevron-right"></i></a>
                      </span>
                    </th>
                  </tr>
                  <tr>
                      <th>Su</th>
                      <th>Mo</th>
                      <th>Tu</th>
                      <th>We</th>
                      <th>Th</th>
                      <th>Fr</th>
                      <th>Sa</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="muted">29</td>
                      <td class="muted">30</td>
                      <td class="muted">31</td>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                      <td>10</td>
                      <td>11</td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                  </tr>
                  <tr>
                      <td>19</td>
                      <td class="btn-primary"><strong>20</strong></td>
                      <td class="btn-primary"><strong>21</strong></td>
                      <td class="btn-primary"><strong>22</strong></td>
                      <td class="btn-primary"><strong>23</strong></td>
                      <td class="btn-primary"><strong>24</strong></td>
                      <td>25</td>
                  </tr>
                  <tr>
                      <td>26</td>
                      <td>27</td>
                      <td>28</td>
                      <td>29</td>
                      <td class="muted">1</td>
                      <td class="muted">2</td>
                      <td class="muted">3</td>
                  </tr>
                </tbody>
              </table>
      </div>
    </div>
  </article>

  <article class="row row-middle">
    <div class="container">
      <div class="col-md-7">
        <h3>My travel tickets</h3>
        <%= render partial: 'traveltickets_show', locals: {traveltickets: @traveltickets} %>
      </div>
      <div class="col-md-5">
        <h3>My Favourite Places</h3>
        <%= render partial: 'places_show', collection: @city.places, as: :place, locals: { city: @city} %>
      </div>
    </div>
  </article>
  
  <footer class="row">
      <%= render partial: 'footer'%>
  </footer>

</section>

